appdirs==1.4.4
APScheduler==3.7.0
argcomplete==1.12.2
atomicwrites==1.4.0
attrs==20.3.0
cached-property==1.5.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
docopt==0.6.2
filelock==3.0.12
frida==14.2.14
frida-tools==9.2.3
h11==0.12.0
httpcore==0.13.3
httpx==0.18.1
idna==3.2
importlib-metadata==3.10.0
iniconfig==1.1.1
keyring==23.0.1
packaging==20.9
pdm==1.5.0.post1
pdm-pep517==0.7.1
pep517==0.10.0
pipenv==2020.11.15
pipreqs==0.4.10
pipx==0.16.1.0
pluggy==0.13.1
py==1.10.0
pycomplete==0.3.2
pyparsing==2.4.7
pytest==6.2.3
python-cfonts==1.4.0
python-dotenv==0.16.0
pythonfinder==1.2.5
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
resolvelib==0.7.0
rfc3986==1.5.0
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
toml==0.10.2
tomlkit==0.7.0
tzlocal==2.1
urllib3==1.26.4
userpath==1.4.2
virtualenv==20.4.3
virtualenv-clone==0.5.4
yapf==0.31.0
yarg==0.1.9
zipp==3.4.1
